<?xml version="1.0" ?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: April, 2023.                                                                   #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 ABB-IRB120 .urdf files in this ROS2   #
#  repository has been taken from the following resource:                               #
#       - abb_experimental (https://github.com/ros-industrial/abb_experimental)         #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - Mark Culleton (Trinity College Dublin) - culletom@tcd.ie                      #
#       - Kevin Kelly   (Trinity College Dublin)                                        #
#                                                                                       #
#  COPYRIGHT - ROS-Industrial                                                           #
#  (ORIGINAL LICENSE) -> Licensed under the Apache-2.0 License.                         #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  The original files contain the .urdf information of the robot for ROS1, and these    #
#  have been modified for ROS2.                                                         #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) ROS 2 Sim-to-Real Robot Control. URL: https://github.com/IFRA-Cranfield/ros2_SimRealRobotControl.

-->

<robot name="irb120" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- PASS ARGUMENTS: -->
  <xacro:arg name="cell_layout_1" default="false"/>
  <xacro:property name="cell_layout_1" value="$(arg cell_layout_1)"/>
  <xacro:arg name="cell_layout_2" default="false"/>
  <xacro:property name="cell_layout_2" value="$(arg cell_layout_2)"/>
  <xacro:arg name="cell_layout_3" default="false"/>
  <xacro:property name="cell_layout_3" value="$(arg cell_layout_3)"/>

  <xacro:property name="EE_no" value="$(arg EE_no)"/>
  <xacro:arg name="EE_schunk" default="false"/>
  <xacro:property name="EE_schunk" value="$(arg EE_schunk)"/>

  <xacro:arg name="bringup" default="false"/>
  <xacro:property name="bringup" value="$(arg bringup)"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:property name="robot_ip" value="$(arg robot_ip)"/>


  <!-- Include XACRO-MACRO file of the IRB120: -->
  <xacro:include filename="$(find ros2srrc_irb120_gazebo)/urdf/irb120_macro.urdf.xacro"/>	
  <xacro:irb120 
    prefix=""
    EE_no="${EE_no}"
    EE_schunk="${EE_schunk}"
    bringup="${bringup}"
    robot_ip="${robot_ip}"/>

  <!-- World link -->
  <link name="world"/>
  
  <!-- ===== ABB IRB-120 ROBOT ALONE ===== -->
  <xacro:if value="${cell_layout_1}">
    <joint name="world-base_link-fixed" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>  
  </xacro:if>
    
  <!-- === IA Lab - IRB120 Enclosure === -->
  <xacro:if value="${cell_layout_2}">
    <link name="cell">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_irb120_gazebo)/meshes/IALab/IRB120enclosure.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_irb120_gazebo)/meshes/IALab/IRB120enclosure.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <joint name="world-cell-fixed" type="fixed">
      <parent link="world"/>
      <child link="cell"/>
      <origin xyz="0.926 -0.124 0.0" rpy="0.0 0.0 0.0" />
    </joint>
    <joint name="cell-base_link-fixed" type="fixed">
      <parent link="cell"/>
      <child link="base_link"/>
      <origin xyz="-0.6506 0.6489 0.8605" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="ergobox">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_irb120_gazebo)/meshes/IALab/ergobox.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_irb120_gazebo)/meshes/IALab/ergobox.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="10.0"/>
        <inertia ixx="0.0002" ixy="0.0002" ixz="0.0002" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
    </link>
    <joint name="cell-ergobox-fixed" type="fixed">
      <parent link="cell"/>
      <child link="ergobox"/>
      <origin xyz="-0.3 0.32 0.8605" rpy="0.0 0.0 0.0" />
    </joint>
  </xacro:if>
  <!-- === IA Lab - IRB120 Enclosure === -->

  <!-- === Pick and Place use-case === -->
  <xacro:if value="${cell_layout_3}">
    <link name='irb120_block'>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100"/>
        <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <box size = "0.2 0.2 0.5"/>
        </geometry>
      </collision>
      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size = "0.2 0.2 0.5"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
    </link>
    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "irb120_block" />
      <origin xyz="0.0 0.0 0.25" rpy="0.0 0.0 0.0" />
    </joint>
    <joint name="block-base" type="fixed">
      <parent link="irb120_block" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.255" rpy="0.0 0.0 0.0" /> 
    </joint>

    <link name='table'>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100"/>
        <inertia ixx="0.01"  ixy="0"  ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <box size = "0.5 1.0 0.7"/>
        </geometry>
      </collision>
      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size = "0.5 1.0 0.7"/>
        </geometry>
        <material name="black">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
    </link>
    <joint name="table_world" type="fixed">
      <parent link="world" />
      <child link = "table" />
      <origin xyz="0.7 0.0 0.35" rpy="0.0 0.0 0.0" />
    </joint>

  </xacro:if>
  <!-- === Pick and Place use-case === -->

</robot>