<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: April, 2023.                                                                   #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) ROS 2 Sim-to-Real Robot Control. URL: https://github.com/IFRA-Cranfield/ros2_SimRealRobotControl.

-->

<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="robotiq_2f85_transmission" params="">

    <transmission name="robotiq_85_left_knuckle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_85_left_knuckle_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robotiq_85_left_knuckle_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="robotiq_85_right_knuckle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_85_right_knuckle_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robotiq_85_right_knuckle_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="robotiq_85_left_inner_knuckle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_85_left_inner_knuckle_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robotiq_85_left_inner_knuckle_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="robotiq_85_right_inner_knuckle_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_85_right_inner_knuckle_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robotiq_85_right_inner_knuckle_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="robotiq_85_left_finger_tip_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_85_left_finger_tip_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robotiq_85_left_finger_tip_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="robotiq_85_right_finger_tip_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="robotiq_85_right_finger_tip_joint">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="robotiq_85_right_finger_tip_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <gazebo reference="robotiq_85_base_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_left_knuckle_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_right_knuckle_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_left_finger_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_right_finger_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_left_inner_knuckle_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_right_inner_knuckle_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_left_finger_tip_link">
      <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="robotiq_85_right_finger_tip_link">
      <selfCollide>false</selfCollide>
    </gazebo> 

  </xacro:macro>

</robot>