<?xml version="1.0" ?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: May, 2023.                                                                     #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 UR10e-Robot .urdf files in this ROS2    #
#  repository has been taken from the following resources:                              #
#       - Universal Robots ROS2 Description:                                            #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Description          #
#       - Universal Robots ROS2 Gazebo Simulation:                                      #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation    #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - Universal Robots - https://github.com/UniversalRobots                         #
#       - Nadia Hammoudeh Garcia, Kelsey Hawkins, G.A. vd. Hoorn, Lovro Ivanov, Mathias #
#         Ludtke, Wim Meeussen, Felix Messmer, Miguel Prada Sarasola, Denis Stogl,      #
#         Andy Zelenak, Marvin Grosse Besselmann.                                       #
#       - Maintainers: Felix Exner (exner@fzi.de), Tristan Schnell (schnell@fzi.de),    #
#         Lovro Ivanov (lovro.ivanov@gmail.com), Denis Stogl (denis@stoglrobotics.de).  #
#                                                                                       #
#  Copyright (c) 2021, Universal Robots A/S                                             #
#  (ORIGINAL LICENSE) -> Licensed under the BSD 3-Clause License.                       #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  Robot information/specifications have been taken, and the code has been modified and #
#  re-organised in accordance with the ros2_SimRealRobotControl standards.              #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) ROS 2 Sim-to-Real Robot Control. URL: https://github.com/IFRA-Cranfield/ros2_SimRealRobotControl.

-->

<robot name="ur10e" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- PASS ARGUMENTS: -->

  <xacro:arg name="cell_layout_1" default="false"/>
  <xacro:property name="cell_layout_1" value="$(arg cell_layout_1)"/>
  <xacro:arg name="cell_layout_2" default="false"/>
  <xacro:property name="cell_layout_2" value="$(arg cell_layout_2)"/>
  <xacro:arg name="cell_layout_3" default="false"/>
  <xacro:property name="cell_layout_3" value="$(arg cell_layout_3)"/>
  <xacro:arg name="cell_layout_4" default="false"/>
  <xacro:property name="cell_layout_4" value="$(arg cell_layout_4)"/>
  <xacro:arg name="cell_layout_5" default="false"/>
  <xacro:property name="cell_layout_5" value="$(arg cell_layout_5)"/>
  <xacro:arg name="rotate_InitialPose" default="false"/>
  <xacro:property name="rotate_InitialPose" value="$(arg rotate_InitialPose)"/>
  
  <xacro:arg name="EE_no" default="false"/>
  <xacro:property name="EE_no" value="$(arg EE_no)"/>

  <xacro:arg name="bringup" default="false"/>
  <xacro:property name="bringup" value="$(arg bringup)"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:property name="robot_ip" value="$(arg robot_ip)"/>

  <xacro:arg name="script_filename" default="none"/>
  <xacro:property name="script_filename" value="$(arg script_filename)"/>
  
  <xacro:arg name="input_recipe_filename" default="none"/>
  <xacro:property name="input_recipe_filename" value="$(arg input_recipe_filename)"/>
  
  <xacro:arg name="output_recipe_filename" default="none"/>
  <xacro:property name="output_recipe_filename" value="$(arg output_recipe_filename)"/>


  <!-- Include XACRO-MACRO file of the UR10e: -->
  <xacro:include filename="$(find ros2srrc_ur10e_gazebo)/urdf/ur10e_macro.urdf.xacro"/>	
  <xacro:ur10e 
    prefix=""
    rotate_InitialPose="${rotate_InitialPose}"
    EE_no="${EE_no}"
    bringup="${bringup}"
    robot_ip="${robot_ip}"
    script_filename="${script_filename}"
    input_recipe_filename="${input_recipe_filename}"
    output_recipe_filename="${output_recipe_filename}"
    />

  <!-- World link -->
  <link name="world"/>
  
  <!-- ===== UR10e ROBOT ALONE ===== -->
  <xacro:if value="${cell_layout_1}">
    <joint name="world-base_link-fixed" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>  
  </xacro:if>
    

  <!-- ===== OTHER CELL LAYOUTS ===== -->

  <!-- === Cylindric BASE === -->
  <xacro:if value="${cell_layout_2}">
    <link name='ur_base'>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <box size = "0.2 0.2 1.3"/>
        </geometry>
      </collision>
      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size = "0.2 0.2 1.3"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
    </link>
    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "ur_base" />
      <origin xyz="0.0 0.0 0.65" rpy="0.0 0.0 0.0" />
    </joint>
    <joint name="ur_joint" type="fixed">
      <parent link="ur_base" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.655" rpy="0.0 0.0 -0.785398" /> 
    </joint>
  </xacro:if>
  <!-- === Cylindric BASE === -->

  <!-- === Cranfield University - UR10e COOLLABORATIVE CELL === -->
  <xacro:if value="${cell_layout_3}">
    <link name="cell">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur10e_gazebo)/meshes/ur10e_CranfieldCell/IALab_CollabTableGz.dae" scale="1 1 1" />
          <!-- If willing to use only the TOP of the table (lighter for simulation): /IALab_CollabTableTOP.dae -->
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur10e_gazebo)/meshes/ur10e_CranfieldCell/IALab_CollabTableGz.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <joint name="world-cell-fixed" type="fixed">
      <parent link="world"/>
      <child link="cell"/>
    </joint>
    <joint name="cell-base_link-fixed" type="fixed">
      <parent link="cell"/>
      <child link="base_link"/>
      <origin xyz="-0.965 -1.0 0.866" rpy="0.0 0.0 -0.785398" />
    </joint>
  </xacro:if>
  <!-- === Cranfield University - UR10e COOLLABORATIVE CELL === -->

  <!-- === Cranfield University - IA Lab Table === -->
  <xacro:if value="${cell_layout_4}">
    <link name="cell">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur10e_gazebo)/meshes/ur10e_CranfieldCell/IALab_Table.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur10e_gazebo)/meshes/ur10e_CranfieldCell/IALab_Table.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <joint name="world-cell-fixed" type="fixed">
      <parent link="world"/>
      <child link="cell"/>
    </joint>
    <joint name="cell-base_link-fixed" type="fixed">
      <parent link="cell"/>
      <child link="base_link"/>
      <origin xyz="0.36 0.55 0.805" rpy="0.0 0.0 -1.5708" />
    </joint>
  </xacro:if>
  <!-- === Cranfield University - IA Lab Table === -->

  <!-- === Cranfield University - IA Lab Table + Wall === -->
  <xacro:if value="${cell_layout_5}">
    <link name="cell">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur10e_gazebo)/meshes/ur10e_CranfieldCell/IALab_TableWall.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur10e_gazebo)/meshes/ur10e_CranfieldCell/IALab_TableWall.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <joint name="world-cell-fixed" type="fixed">
      <parent link="world"/>
      <child link="cell"/>
    </joint>
    <joint name="cell-base_link-fixed" type="fixed">
      <parent link="cell"/>
      <child link="base_link"/>
      <origin xyz="-1.45 -0.65 0.805" rpy="0.0 0.0 -1.5708" />
    </joint>
  </xacro:if>
  <!-- === Cranfield University - IA Lab Table + Wall === -->

</robot>