<?xml version="1.0" ?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: May, 2023.                                                                     #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  Some of the information used to build the ROS2 UR3-Robot .urdf files in this ROS2    #
#  repository has been taken from the following resources:                              #
#       - Universal Robots ROS2 Description:                                            #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Description          #
#       - Universal Robots ROS2 Gazebo Simulation:                                      #
#         https://github.com/UniversalRobots/Universal_Robots_ROS2_Gazebo_Simulation    #
#                                                                                       #
#  AUTHORS:                                                                             #
#       - ROS-Industrial - https://rosindustrial.org                                    #
#       - Universal Robots - https://github.com/UniversalRobots                         #
#       - Nadia Hammoudeh Garcia, Kelsey Hawkins, G.A. vd. Hoorn, Lovro Ivanov, Mathias #
#         Ludtke, Wim Meeussen, Felix Messmer, Miguel Prada Sarasola, Denis Stogl,      #
#         Andy Zelenak, Marvin Grosse Besselmann.                                       #
#       - Maintainers: Felix Exner (exner@fzi.de), Tristan Schnell (schnell@fzi.de),    #
#         Lovro Ivanov (lovro.ivanov@gmail.com), Denis Stogl (denis@stoglrobotics.de).  #
#                                                                                       #
#  Copyright (c) 2021, Universal Robots A/S                                             #
#  (ORIGINAL LICENSE) -> Licensed under the BSD 3-Clause License.                       #
#                                                                                       #
#  CHANGES MADE:                                                                        #
#  Robot information/specifications have been taken, and the code has been modified and #
#  re-organised in accordance with the ros2_SimRealRobotControl standards.              #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) ROS 2 Sim-to-Real Robot Control. URL: https://github.com/IFRA-Cranfield/ros2_SimRealRobotControl.

-->

<robot name="ur3" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- PASS ARGUMENTS: -->

  <xacro:arg name="cell_layout_1" default="false"/>
  <xacro:property name="cell_layout_1" value="$(arg cell_layout_1)"/>
  <xacro:arg name="cell_layout_2" default="false"/>
  <xacro:property name="cell_layout_2" value="$(arg cell_layout_2)"/>
  <xacro:arg name="cell_layout_3" default="false"/>
  <xacro:property name="cell_layout_3" value="$(arg cell_layout_3)"/>
  
  <xacro:arg name="EE_no" default="false"/>
  <xacro:property name="EE_no" value="$(arg EE_no)"/>
  <xacro:arg name="EE_robotiq" default="false"/>
  <xacro:property name="EE_robotiq" value="$(arg EE_robotiq)"/>

  <xacro:arg name="bringup" default="false"/>
  <xacro:property name="bringup" value="$(arg bringup)"/>
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:property name="robot_ip" value="$(arg robot_ip)"/>

  <xacro:arg name="script_filename" default="none"/>
  <xacro:property name="script_filename" value="$(arg script_filename)"/>
  
  <xacro:arg name="input_recipe_filename" default="none"/>
  <xacro:property name="input_recipe_filename" value="$(arg input_recipe_filename)"/>
  
  <xacro:arg name="output_recipe_filename" default="none"/>
  <xacro:property name="output_recipe_filename" value="$(arg output_recipe_filename)"/>


  <!-- Include XACRO-MACRO file of the UR3: -->
  <xacro:include filename="$(find ros2srrc_ur3_gazebo)/urdf/ur3_macro.urdf.xacro"/>	
  <xacro:ur3 
    prefix=""
    EE_no="${EE_no}"
    EE_robotiq="${EE_robotiq}"
    bringup="${bringup}"
    robot_ip="${robot_ip}"
    script_filename="${script_filename}"
    input_recipe_filename="${input_recipe_filename}"
    output_recipe_filename="${output_recipe_filename}"
    />

  <!-- World link -->
  <link name="world"/>
  
  <!-- ===== UR3 ROBOT ALONE ===== -->
  <xacro:if value="${cell_layout_1}">
    <joint name="world-base_link-fixed" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
    </joint>  
  </xacro:if>
    

  <!-- ===== OTHER CELL LAYOUTS ===== -->

  <!-- === Cylindric BASE === -->
  <xacro:if value="${cell_layout_2}">
    <link name='ur_base'>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="100"/>
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01" />
      </inertial>
      <collision name='collision'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/> 
        <geometry>
          <box size = "0.2 0.2 1.3"/>
        </geometry>
      </collision>
      <visual name='chassis_visual'>
        <origin xyz="0 0 0" rpy=" 0 0 0"/>
        <geometry>
          <box size = "0.2 0.2 1.3"/>
        </geometry>
        <material name="red">
          <color rgba="1 0 0 1"/>
        </material>
      </visual>
    </link>
    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "ur_base" />
      <origin xyz="0.0 0.0 0.65" rpy="0.0 0.0 0.0" />
    </joint>
    <joint name="ur_joint" type="fixed">
      <parent link="ur_base" />
      <child link = "base_link" />
      <origin xyz="0.0 0.0 0.655" rpy="0.0 0.0 0.0" /> 
    </joint>
  </xacro:if>
  <!-- === Cylindric BASE === -->

  <!-- === Cranfield University - Lab Cell === -->
  <xacro:if value="${cell_layout_3}">
    <link name='ur3_cell'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3cupboard.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3cupboard.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <!--
    <link name='ur3_wall'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3wall.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3wall.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1000.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    -->
    <link name='ur3_EB'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3emergencybutton.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3emergencybutton.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <link name='ur3_B'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3button.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/UR3button.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <link name='ur3_L'>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/XVC4B4.dae" scale="1 1 1" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find ros2srrc_ur3_gazebo)/meshes/ur3_CranfieldCell/XVC4B4.dae" scale="1 1 1" />
        </geometry>
      </collision>
      <inertial>
        <mass value="1.0"/>
        <inertia ixx="500.0" ixy="500.0" ixz="500.0" iyy="500.0" iyz="500.0" izz="500.0" />
      </inertial>
    </link>
    <joint name="world_joint" type="fixed">
      <parent link="world" />
      <child link = "ur3_cell" />
      <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 0.0" />
    </joint>
    <!--
    <joint name="wall_joint" type="fixed">
      <parent link="world" />
      <child link = "ur3_wall" />
      <origin xyz="0.0 0.0 0.00" rpy="0.0 0.0 0.0" />
    </joint>
    -->
    <joint name="ur_joint" type="fixed">
      <parent link="ur3_cell" />
      <child link = "base_link" />
      <origin xyz="-0.25 0.20 0.762" rpy="0.0 0.0 -0.7854" /> 
    </joint>
    <joint name="eb_joint" type="fixed">
      <parent link="ur3_cell" />
      <child link = "ur3_B" />
      <origin xyz="-0.10 0.01 0.762" rpy="0.0 0.0 0.0" /> 
    </joint>
    <joint name="b_joint" type="fixed">
      <parent link="ur3_cell" />
      <child link = "ur3_EB" />
      <origin xyz="-0.18 0.01 0.762" rpy="0.0 0.0 0.0" /> 
    </joint>
    <joint name="l_joint" type="fixed">
      <parent link="ur3_cell" />
      <child link = "ur3_L" />
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" /> 
    </joint>
  </xacro:if>
  <!-- === Cranfield University - Lab Cell === -->

</robot>